bcrypt==4.0.1
beautifulsoup4==4.12.2
chromadb==0.4.7
exceptiongroup==1.1.2
fastapi==0.97.0
fastapi-socketio==0.0.10
langchain==0.0.285
langchain-experimental==0.0.8
langcodes==3.3.0
langsmith==0.0.27
numpy==1.24.0
openai==0.27.8
openapi-schema-pydantic==1.2.4
pandas==2.0.3
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.49
sqlitedict==2.1.0
srsly==2.4.7
streamlit==1.26.0
streamlit-option-menu==0.3.6
streamlit-tags==1.2.8
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
uvicorn==0.22.0
websockets==11.0.3
python-jose==3.3.0
PyJWT==2.8.0
passlib==1.7.4
chroma-hnswlib==0.7.2
chromadb==0.4.7
